
<nav class="navbar navbar-expand-lg  " [class]="generalService.checkNavIsTRansparent() ? 'navbar-dark' : 'navbar-light bg-white'">
    <div class="container-fluid">
        <div class="position-relative">
            <a class="navbar-brand " [class]="generalService.checkNavIsTRansparent() ? 'home-logo' : 'inner-logo'" href="/dashboard">
                <img [src]="generalService.checkNavIsTRansparent() ? '../../../assets/images/homelogo.jpg':'../../../assets/images/innerlogo.jpg'" alt="" srcset="">

            </a>

        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/dashboard"> 
                         <i class="fas fa-user-circle"></i>
                       Admin
                       <span class="mx-3 ">|</span>
                    </a>
                 
                </li>
              
               
                <li class="nav-item">
                    <!-- <a class="nav-link active" aria-current="page" routerLink="/about">{{'about' |translate}} </a> -->
                   
                    <a class="nav-link active" routerLink="/login">  <i class="fas fa-sign-in-alt"></i>  Logout</a>
                </li>
        
             

            </ul>

        </div>
    </div>
</nav>

