.navbar{
    box-shadow: 2px 2px 10px #083076 !important;
}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: #0c337b !important;
    text-shadow: 1px 1.2px 2px #757575 !important;
}