<div class="row mt-5">
    <div class="col-md-9">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal secondary-color">Add User</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control mb-3" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required="">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Add User</button>
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-9">
        <h1 class="h3 mb-3 font-weight-normal secondary-color"> User List</h1>

        <table class="table table-striped">
            <thead>
                <tr>

                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>admin</td>
                    <td>admin</td>
                    <td><button type="submit" class="btn btn-danger">Delete</button></td>
                </tr>
                <tr>

                    <td>ahmed</td>
                    <td>123</td>
                    <td><button type="submit" class="btn btn-danger">Delete</button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>