.accordion-button:not(.collapsed) {
    /* color: #af8f79; */
    background-color: #eeeded !important;
  }
// .form-label{
//     margin-right: 20px;
//     width: 15%;
//     padding: 0.375rem 0 !important;
// }
.error{
    font-weight: bold;
}
.btn:disabled{
  background-color: lightgrey !important;
  border: none !important;
}
.accordion-button:not(.collapsed)::after{
  background-image:#000 !important;

}
.accordion-button:not(.collapsed)::before{
  background-image:#000 !important;
}

// .formg{
//     width: 75%;
//     height: 58.8px;
// }
// .form-control{
//     padding: 0.275rem 0.75rem !important;
// }

.imagBox{
  position: relative;
  width: 200px;
}
.current-image{
  padding: 5px;
  border: 2px dashed #dadada;
}
.editor {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .NgxEditor__MenuBar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9 !important;
    border: 1px solid #e7e7e7 !important;
  }

  .NgxEditor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 0.7rem;

    pre {
      white-space: pre !important;
    }
  }
}
