
    <!--===== Start About Section =====-->
    <div class="about-us-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="../../../assets/images/about-section-img.jpg" alt="About Us Image" class="about-section-img">
                        <div class="about-us-img-info about-us-img-info-2 about-us-img-info-3">
                            
                            <div class="ltn__video-img ltn__animation-pulse1">
                                <img src="../../../assets/images/about-section-img2.webp" alt="video popup bg image" class="about-section-img2">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2--- mb-20">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">About Us</h6>
                            <h1 class="section-title">The Leading Real Estate
                                Rental Marketplace<span>.</span></h1>
                            <p>Over 39,000 people work for us in more than 70 countries all over the
                                This breadth of global coverage, combined with specialist services</p>
                        </div>
                        <ul class="ltn__list-item-half clearfix">
                            <li>
                                <i class="fas fa-home"></i>
                                Smart Home Design
                            </li>
                            <li>
                                <i class="fas fa-user"></i>
                                Beautiful Scene Around
                            </li>
                            <li>
                                <i class="fas fa-warehouse"></i>
                                Exceptional Lifestyle
                            </li>
                            <li>
                                <i class="fas fa-shield-alt"></i>
                                Complete 24/7 Security
                            </li>
                        </ul>
                        <div class="ltn__callout bg-overlay-theme-05  mt-30">
                            <p>"Enimad minim veniam quis nostrud exercitation <br>
                                llamco laboris. Lorem ipsum dolor sit amet" </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===== End About Section =====-->

    <div class="full-row bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-5">
                        <span class="tagline-2">Capablities</span>
                        <h2 class="mb-4">Awesome Real Estate Company for Housing and Construction.</h2>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row row-cols-md-2 row-cols-1">
                        <div class="col border-start border-geay mb-5">
                            <div class="simple-thumb transation px-4">
                                <span class="h3 down-line mb-4 d-table">01</span>
                                <h5 class="my-3">Property Booking</h5>
                                <p>Creating a higher spacing and how people move through a unique and impactful campaign.</p>
                            </div>
                        </div>
                        <div class="col border-start border-geay mb-5">
                            <div class="simple-thumb transation px-4">
                                <span class="h3 down-line mb-4 d-table">02</span>
                                <h5 class="my-3">Payment Guarantee</h5>
                                <p>Creating a higher spacing and how people move through a unique and impactful campaign.</p>
                            </div>
                        </div>
                        <div class="col border-start border-geay mb-5">
                            <div class="simple-thumb transation px-4">
                                <span class="h3 down-line mb-4 d-table">03</span>
                                <h5 class="my-3">House Management</h5>
                                <p>Creating a higher spacing and how people move through a unique and impactful campaign.</p>
                            </div>
                        </div>
                        <div class="col border-start border-geay mb-5">
                            <div class="simple-thumb transation px-4">
                                <span class="h3 down-line mb-4 d-table">04</span>
                                <h5 class="my-3">Property Deal</h5>
                                <p>Creating a higher spacing and how people move through a unique and impactful campaign.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>