<div class="row">
  <div class="col-md-12">
      <h4 class="secondary-color textshadow">{{'Contacts' | translate}}</h4>
      <hr>
      <div class=" mt-2 table-responsive py-5 px-2">
        <table class="table table-bordered row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{'Name' | translate}}</th>
                <th scope="col">{{'email'| translate}}</th>
                <th scope="col">{{'Phone' |translate}}</th>
                <th scope="col">{{'Message' | translate}}</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Allcontact">
                <td>{{item.id}}</td>
                <td>{{item.name | translate }}</td>
                <td>{{item.email | translate}}</td>
                <td>{{item.phone | translate}}</td>
                <td>{{item.message | translate}}</td>

            </tr>


        </tbody>
    </table>
     </div>


</div>
</div>
