<div class="row">
  <div class="col-md-12">
      <h4 class="secondary-color textshadow">Contacts</h4>
      <hr>
      <div class=" mt-2 table-responsive py-5 px-2">
        <table class="table table-bordered row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Message</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Allcontact">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.message}}</td>

            </tr>


        </tbody>
    </table>
     </div>


</div>
</div>
