.icon:hover{
    cursor: pointer;
    background-color: #7c7b7661;
    padding: 3px;
}
.list-inline-item.view-icons{
    width:30px !important;
}
.fa-refresh{
    font-size: 14px;
    line-height: 3.5;
}
.fa-refresh:hover{
    cursor: pointer;
}