<app-top-header></app-top-header>
<nav class="navbar navbar-expand-lg  " [class]="generalService.checkNavIsTRansparent() ? 'navbar-dark' : 'navbar-light white-nav'">
    <div class="container">
        <div class="position-relative">
            <a class="navbar-brand " [class]="generalService.checkNavIsTRansparent() ? 'home-logo' : 'inner-logo'" href="#">
                <img [src]="generalService.checkNavIsTRansparent() ? 'assets/images/homelogo.jpg':'assets/images/innerlogo1.jpg'" alt="" srcset="">

            </a>

        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">{{'home' |translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/about">{{'about' |translate}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/property">{{'properties' |translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/projects">{{'Projects' |translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/place-order"> {{'placeOrder' |translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/contact">{{'contact' |translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/dashboard">{{'dashboard' | translate}}</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" (click)="changeLanguage('en')">en</a>
                </li> -->

            </ul>

        </div>
    </div>
</nav>

<!-- <h3>{{'About' | translate}}</h3> -->
