/*===== Main CSS =====*/

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #af8f79
}

a:hover,
a:focus {
    text-decoration: none;
    color: #af8f79;
    outline: none !important
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    color: #333;
    font-weight: 400
}

.bg-light {
    background: #fafafa !important
}

.btn {
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .1);
    box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .1)
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none
}

.btn.btn-primary {
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff
}

.btn.btn-primary:hover {
    border: 1px solid var(--main-color);
    background: transparent;
    color: var(--main-color)
}

.heading-section h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 10px;
    margin: 20px 0 30px 0;
}

.hero-wrap {
    width: 100%;
    height: 350px;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    background-attachment: fixed
}

.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .5;
    background: #000
}

.hero-wrap .slider-text {
    height: 250px;
    z-index: 1000;
    position: relative
}

.hero-wrap .slider-text .bread {
    font-weight: 900;
    color: #fff;
    font-size: 50px
}


/*===== Contact CSS =====*/

.contact-section .form-control {
    height: 52px;
    background: #fff;
    color: #302f2f;
    font-size: 15px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

.contact-section .form-control:focus,
.contact-section .form-control:active {
    border-color: #000
}

.contact-section textarea.form-control {
    height: inherit
}

.section {
    padding: 7em 0;
    position: relative
}

.contact-section .contact-info {
    width: 22%;
    border: 1px solid #eee;
    text-align: center;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    padding: 25px;
    background: #fff;
    margin: auto 15px;
}

.contact-section .contact-info p {
    margin-bottom: 6px;
}

.contact-section .contact-info i {
    color: var(--main-color);
    font-size: 28px;
}

.contact-section .contact-info h5 {
    font-weight: 600;
    color: var(--main-color);
    font-size: 18px;
}

.contact-section .contact-info a {
    font-weight: 500;
    color: #302f2f;
    text-decoration: none;
}

.contact-section .contact-info h6 {
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 4em 0;
    }
    .hero-wrap {
        height: 270px;
    }
    .hero-wrap .slider-text {
        height: 195px;
    }
    .hero-wrap .slider-text .bread {
        font-size: 35px;
    }
    .contact-section iframe {
        height: 350px;
    }
    .contact-section .mb-5 {
        margin-bottom: 2rem!important;
    }
    .contact-section .contact-info i {
        font-size: 20px;
    }
    .contact-section .contact-info h5 {
        font-size: 17px;
    }
    .contact-section .contact-info {
        width: 90%;
        margin: 0 10px 18px 18px;
    }
}
.form-group{
    position: relative;
}
.error{
    position: absolute;
    top: -16px;
    font-size: 12px;
    font-weight: 700;
}
.btn:disabled{
    background-color: lightgrey !important;
    border: none !important;
  }