<!--===== Start Banner =====-->
<section class="hero-wrap" style="background-image: url('assets/images/banner.webp');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row slider-text align-items-end justify-content-center">
            <div class="col-md-9  text-center mb-4">
                <h1 class="mb-2 bread">{{'compare' | translate}}</h1>
            </div>
        </div>
    </div>
</section>
<!--===== End Banner =====-->



<!--===== Start Team =====-->
<section class="section bg-light comparison-section">

    <div class="container">

        <div class="row">

            <div class="table-responsive bg-white">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="border-0"></th>

                            <th scope="col" *ngFor="let item of compareList">
                                <img src="assets/images/img1.webp">
                                <h5>Floor ({{item.floor_Num}}) Apartment ({{item.apartment_Num}})</h5>
                            </th>


                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <th scope="row">
                                <img src="assets/images/compare-icons/location.png">
                                <h6>Location</h6>
                            </th>

                            <td>Location1, Saudia Arabia</td>

                            <td>Location2, Saudia Arabia</td>

                            <td>Location2, Saudia Arabia</td>

                        </tr>

                        <tr>

                            <th scope="row">
                                <img src="assets/images/compare-icons/area.png">
                                <h6>Area</h6>
                            </th>

                            <td *ngFor="let item of compareList">
                                {{item.apartment_Space}} m
                                <sup>2</sup>
                            </td>



                        </tr>

                        <tr>

                            <th scope="row">
                                <img src="assets/images/compare-icons/room.png">
                                <h6>Rooms</h6>
                            </th>

                            <td *ngFor="let item of compareList">{{item.bed_Room_Num}} Rooms</td>



                        </tr>

                        <tr>

                            <th scope="row">
                                <img src="assets/images/compare-icons/air-conditioner.png">
                                <h6>Air Conditioning</h6>
                            </th>

                            <td>2 Air Conditioning</td>

                            <td>3 Air Conditioning</td>

                            <td>4 Air Conditioning</td>

                        </tr>


                        <tr>

                            <th scope="row">
                                <img src="assets/images/compare-icons/bathroom.png">
                                <h6>Bathrooms</h6>
                            </th>

                            <td>1 Bathroom</td>

                            <td>2 Bathrooms</td>

                            <td>2 Bathrooms</td>

                        </tr>




                        <tr>

                            <th scope="row">
                                <img src="assets/images/compare-icons/kitchen.png">
                                <h6>Kitchen</h6>
                            </th>

                            <td>
                                <i class="fa fa-check"></i>
                            </td>

                            <td>
                                <i class="fa fa-check"></i>
                            </td>

                            <td>
                                <i class="fa fa-times"></i>
                            </td>

                        </tr>


                        <tr>

                            <th scope="row">
                                <img src="assets/images/compare-icons/furnished.png">
                                <h6>Furnished</h6>
                            </th>

                            <td>
                                <i class="fa fa-check"></i>
                            </td>

                            <td>
                                <i class="fa fa-times"></i>
                            </td>

                            <td>
                                <i class="fa fa-times"></i>
                            </td>

                        </tr>

                        <tr>

                            <th scope="row" class="mt-md-4">
                                <img src="assets/images/compare-icons/price.png">
                                <h6>Price</h6>
                            </th>

                            <td *ngFor="let item of compareList">

                                <b>cash:</b> {{item.apartment_Price}} SAR
                            </td>





                        </tr>


                        <tr>

                            <th scope="row">

                            </th>

                            <td *ngFor="let item of compareList">
                                <a [routerLink]="['/property',item.apartment_Id]" class="btn btn-primary px-4 ml-2">Buy</a>
                                <a class="btn btn-danger px-4" (click)="compareServ.deleteListFromCompare(item.apartment_Id)">Delete</a>
                            </td>



                        </tr>



                    </tbody>
                </table>


            </div>

        </div>

    </div>


</section>
<!--===== End Team =====-->