.navbar .home-logo {
    left: auto;
    right: 0;
}

.card .card-body .unit-location .link-togmap {
    border-radius: 20px 0px 0px 0px !important;
}

.panoram .panorama-text h3 p {
    line-height: 1.5;
    width: 362px;
}