.secondary-color {
    color: $mainColor;
}

.green {
    background: #4fc738 !important;
    color: white !important;
}

.orange {
    background: #c7a638 !important;
    color: white !important;
}

.pink {
    background: #d21862 !important;
    color: white !important;
}

.moave {
    background-color: #771e80 !important;
    color: white !important;
}

.yellow {
    background-color: #95af21 !important;
    color: white !important;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon.icon-cross {
    font-size: 14px;
    color: #ff1e1e;
}

#icon-checkmark {
    color: #61b100;
}

.gray-bg {
    background: #e9e9e9;
}

.dark-gray-bg {
    background: #2c2c2c;
    color: white;
}

.white-bg {
    background: #fff;
}

.delete-img {
    position: absolute;
    z-index: 200;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fb7676;
    background: white;
    font-size: 20px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.section-container {
    padding: 70px 20px;
}

input,
textarea,
select {
    border-radius: 0;
}

label {
    font-weight: bold;
}

.secondary-btn {
    background-color: $secondaryColor;
    color: white;
    font-weight: bold;
    border-radius: 0;
    width: 100%;
    &:hover {
        background-color: $secondaryColor;
        color: white;
        font-weight: bold;
    }
}

a {
    text-decoration: none;
}

.more-btn {
    background-color: white;
    color: #797979;
    font-weight: bold;
    border-radius: 0;
    width: 150px;
    border: 1px solid #DCDCDC;
    &:hover {
        background-color: $secondaryColor;
        color: white;
        font-weight: bold;
        border: 1px solid white;
    }
}

.white-nav {
    background: white;
    padding: 10px 0;
    a {
        color: $mainColor !important;
        font-weight: 500;
    }
}

// tab format
#myTab a {
    display: inline-block;
    padding: 7px 20px;
    color: #a1a1a1;
    font-size: 19px;
    background: #efefef;
    margin: 5px 2px 20px 0px;
}

#myTab a.active {
    color: white;
    background: #af8f7a;
}

.form-check-input:checked {
    background-color: $mainColor;
    border-color: $mainColor;
}

.form-check-input:focus {
    outline: none;
    box-shadow: 0 0 0 0 rgba(13, 109, 253, 0.048);
    border-color: #bdb8b8;
}

// .owl-carousel .owl-item img {
//     width: auto !important;
//     max-height: 100px;
// }