.mat-toolbar{
    height: 20px;
    font-size: 13px;
    color: #012535;
    justify-content: center;
   margin-top:15px;
}
span{
    color:var(--main-color);
    font-size: 15px;
    font-weight: bold;
}