<div class="accordion" id="accordionExample">
    <div class="accordion-item shadow">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapsepartner"
                aria-expanded="true" aria-controls="collapseOne">
                <h5 class="secondary-color">Partner</h5>
            </button>
        </h2>
        <div id="collapsepartner" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
                <form action="" class="row g-4" [formGroup]="myFormGroup" (submit)="onClickSubmit()"
                    enctype="multipart/form-data">
                    <div class="form-check">
                        <input class="form-check-input" formControlName="IsActive" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Is Active
                        </label>
                    </div>
                    <!-- <input type="hidden" formControlName="settingTypeId"> -->
                    <div class="col-md-6">
                        <div class="my-1 ">
                            <label for="exampleFormControlInput1" class="form-label">TitleEn
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['TitleEn'].errors?.['required']">
                                * Required Field
                            </span> -->
                            </label>
                            <div class="formg">
                                <input type="text" class="form-control" formControlName="TitleEn"
                                    placeholder="Fill Field">

                            </div>
                        </div>
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">DescriptionEn
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['DescriptionEn'].errors?.['required']">
                                * Required Field
                            </span> -->
                            </label>
                            <div class="formg">

                                <textarea class="form-control" formControlName="DescriptionEn" rows="3"></textarea>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">TitleAr
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['TitleAr'].errors?.['required']">
                                * Required Field
                            </span> -->
                            </label>
                            <div class="formg">
                                <input type="text" class="form-control" formControlName="TitleAr"
                                    placeholder="Fill Field">

                            </div>
                        </div>
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">DescriptionAr
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['DescriptionAr'].errors?.['required']">
                                    * Required Field
                                </span> -->
                            </label>
                            <div class="formg">
                                <textarea class="form-control" formControlName="DescriptionAr" rows="3"></textarea>
                            </div>
                        </div>


                    </div>


                    <div class="col-md-12">
                        <div class="my-1">
                            <div class="formg w-100">
                                <button type="submit" class="btn btn-small btn-primary w-25 float-end  px-4  mt-2"
                                    [disabled]="myFormGroup.invalid">Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>


                <hr>



                <div class="m-5">

                    <h1> Upload Images </h1>
                    <form action="" class="row g-4"
                        enctype="multipart/form-data">

                        <div class="col-md-12">
                            <div class="my-1">
                                <label for="exampleFormControlInput1" class="form-label">Select Image
                                    <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['Image'].errors?.['required']">
                                * Required Field
                            </span>  -->
                                </label>
                                <div class="formg w-100">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="file" accept="image/*" class="form-control  mb-3"
                                              multiple   (change)="onInputChange($event)" id="thumbnail">
                                        </div>
                                        <button type="submit"
                                            class="btn btn-small btn-primary w-25 float-end  px-4  mt-2"
                                            >Upload
                                        </button>

                                        <div class="col-md-12">
                                            <div class="current-image">
                                                <div class="imagBox" *ngFor="let img of imageList">
                                                    <i class="far fa-times-circle delete-img"
                                                        (click)="DeleteImage()" [id]="img.attachmentId"></i>
                                                    <img [src]="appRootUrl+img.path" class="img-fluid" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
