

<div class="accordion" id="accordionExample">
    <div class="accordion-item shadow">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapsepartner"
                aria-expanded="true" aria-controls="collapseOne">
              <h5 class="secondary-color">Partner</h5>
            </button>
        </h2>
        <div id="collapsepartner" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
                <form action="" class="row g-4" [formGroup]="myFormGroup" (submit)="onClickSubmit()" enctype="multipart/form-data">
                    <!-- <input type="hidden" formControlName="settingTypeId"> -->
                    <div class="col-md-6">
                        <div class="my-1 ">
                            <label for="exampleFormControlInput1" class="form-label">TitleEn
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['TitleEn'].errors?.['required']">
                                * Required Field
                            </span> -->
                        </label>
                            <div class="formg">
                                <input type="text" class="form-control" formControlName="TitleEn" placeholder="Fill Field">

                            </div>
                        </div>
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">DescriptionEn
                                 <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['DescriptionEn'].errors?.['required']">
                                * Required Field
                            </span> -->
                        </label>
                            <div class="formg">
                              <ngx-editor-menu [editor]="editor2" [toolbar]="toolbar">
                              </ngx-editor-menu>
                              <ngx-editor [editor]="editor2" formControlName="DescriptionAr" [placeholder]="'Enter text here...'">
                              </ngx-editor>
                                <!-- <textarea class="form-control" formControlName="DescriptionEn" rows="3"></textarea> -->

                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">TitleAr
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['TitleAr'].errors?.['required']">
                                * Required Field
                            </span> -->
                        </label>
                            <div class="formg">
                                <input type="text" class="form-control" formControlName="TitleAr" placeholder="Fill Field">

                            </div>
                        </div>
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">DescriptionAr
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['DescriptionAr'].errors?.['required']">
                                    * Required Field
                                </span> -->
                            </label>
                            <div class="formg">
                              <ngx-editor-menu [editor]="editor3" [toolbar]="toolbar">
                              </ngx-editor-menu>
                              <ngx-editor [editor]="editor3" formControlName="DescriptionAr"  [ngModel]="html"  [placeholder]="'Enter text here...'">
                              </ngx-editor>
                                <!-- <textarea class="form-control" formControlName="DescriptionAr" rows="3"></textarea> -->

                            </div>
                        </div>


                    </div>


                    <div class="col-md-12">
                        <div class="my-1">
                            <label for="exampleFormControlInput1" class="form-label">Select Image
                                <!-- <span class="text-danger error" *ngIf="showError && myFormGroup.controls['Image'].errors?.['required']">
                                * Required Field
                            </span>  -->
                        </label>
                            <div class="formg w-100">
                              <div class="row">
                                <div class="col-md-12">
                                <input type="file"  accept="image/*"  class="form-control  mb-3" (change)="onInputChange($event)" id="thumbnail">
</div>
                                <div class="col-md-12">
                                  <div class="current-image">
                                    <div class="imagBox">
                                      <i class="far fa-times-circle delete-img" (click)="DeleteImage()"></i>
                                      <img [src]="appRootUrl" class="img-fluid" alt="" >
                                    </div>
                                  </div>
                              </div>
                              </div>


                                <button type="submit" class="btn btn-small btn-primary w-25 float-end  px-4  mt-2"[disabled]="myFormGroup.invalid">Save
                                </button>
                            </div>
                        </div>

                    </div>


                </form>

            </div>
        </div>
    </div>

