
  .btn {
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .1);
    box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .1)
  }
  
  .btn:hover,
  .btn:active,
  .btn:focus {
    outline: none
  }
  
  .btn.btn-primary {
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff
  }
  
  .btn.btn-primary:hover {
    border: 1px solid var(--main-color);
    background: transparent;
    color: var(--main-color)
  }

  .btn.btn-primary:focus{
      box-shadow: none;
      outline: none;

  }
    
  .section {
    padding: 7em 0;
    position: relative
  }


  /* project-modal css */

  
  .project-modal .modal-dialog {
    max-width: 600px;

  }

  .project-modal .modal-content{
    border: none;
    box-shadow: 0 0 15px 0 rgb(50 50 50 / 16%);
    border-radius: 0

}


  .project-modal .modal-header{
        background: var(--main-color);
        text-align: center;
        display: inline-block;
        border-bottom: none;
        border-radius: 0
    }

    .project-modal .modal-header h5.modal-title {
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 10px
    }
    .project-modal .modal-header h6.modal-title {
        color: #fff;
        font-weight: 500;
        font-size: 15px;
    }


    .project-modal .modal-header .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .project-modal .modal-body{
        padding: 0
    }

    .project-modal .carousel img{
        width: 100%;
        height: 400px;
        object-fit: cover
    }


    .project-modal .carousel .carousel-control-next-icon, 
    .project-modal .carousel .carousel-control-prev-icon{
        background-color: #302f2f
    }


    .project-modal .modal-footer{
        background: #f3f3f3;
        display: unset;
        text-align: center
    }

    .project-modal .modal-footer h5{
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize
    }

    .project-modal .modal-footer h6{
        font-size: 18px;
        font-weight: 600;
    }

    .project-modal .modal-footer .btn.btn-primary{
        text-transform: capitalize;
        font-size: 14px
    }




    @media screen and (max-width:768px){
        .project-modal .modal-footer .col-md-3{
            padding: 0
        }

        .project-modal .modal-footer h5 {
            font-size: 14px;
        }

        .project-modal .modal-footer .btn.btn-primary{
            margin-top: 12px
        }
    
    }