<div class="parallax" style="background-image: url('assets/images/paralax.jpg');">
    <div class="mask"></div>
    <div class="indecators-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <p class="counter secondary-color">{{siteInformation.transactionCount}}</p>
                    <p class="subject">{{'transactions' | translate}}
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <p class="counter secondary-color">{{siteInformation.satisfiedCustomerCount}}</p>
                    <p class="subject">{{'SatisfiedCustomers' | translate}}

                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <p class="counter secondary-color">{{siteInformation.AgenciesCount}}</p>
                    <p class="subject">{{'Agencies' | translate}}

                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <p class="counter secondary-color">{{siteInformation.salesCount}}</p>
                    <p class="subject">{{'salesRent' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>