<div class="parallax" style="background-image: url('assets/images/paralax.jpg');">
    <div class="mask"></div>
    <div class="indecators-panel">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-4 text-center">
                    <p class="counter secondary-color">{{siteInformation?.CountApartmentsStatistic}}</p>
                    <p class="subject">{{'CountApartmentsStatistic' | translate}}
                    </p>
                </div>
                <div class="col-4 col-md-4 text-center">
                    <p class="counter secondary-color">{{siteInformation?.CountEmployessSoudiStatistic}}</p>
                    <p class="subject">{{'CountEmployessSoudiStatistic' | translate}}

                    </p>
                </div>
                <!-- test -->
                <div class="col-4 col-md-4 text-center">
                    <p class="counter secondary-color">{{siteInformation?.CountProjectsStatistic}}</p>
                    <p class="subject">{{'CountProjectsStatistic' | translate}}

                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
