<div class="row">
    <div class="col-md-12">

        <div id="myTab" role="tablist">
            <a class="nav-link me-2" data-bs-toggle="tab" [attr.data-bs-target]="'#'+item.build" type="button" role="tab" [attr.aria-controls]="item.build" [attr.aria-selected]="i == 0 ? true:false " [class.active]="i == 0" *ngFor="let item of buildings;let i = index"
                (click)="getBuildingProperty(i)">{{item.build}}</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6 mb-3" *ngFor="let item of buildings[propertIndex].apartments">
                <app-property-card [property]="item"></app-property-card>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <app-search-form></app-search-form>
    </div>
</div>