<div class="row">
    <div class="col-md-12">
        <ul class="list-inline building-types">
            <li class="list-inline-item " (click)="getBuildingProperty(i)" [class.active]="i == 0" *ngFor="let item of buildings;let i = index">{{item.build}}</li>

        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6 mb-3" *ngFor="let item of buildings[propertIndex].apartments">
                <app-property-card [property]="item"></app-property-card>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <app-search-form></app-search-form>
    </div>
</div>