<!-- <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal secondary-color">Login</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control mb-3" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required="">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form> -->



<div class="content-body">
    <mat-card>
        <mat-card-content>
      <div class="logo">
    <img src="../../../assets/images/logo/logo1.png" height="100px" width="100"> 
       </div>
            <div class="pt-5 pb-4">
              
                <img src="../../../assets/images/logo/logo2.png" class="mt-2" height="60px">
                
            </div>
         
             <h2> 
             Login
             </h2>
                
            <form  name="form"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             
                  
                    <mat-form-field class="full-width" >
                        <mat-label>User Name</mat-label>
                        <input formControlName="userName" matInput>
                        <button mat-icon-button matSuffix >
                          <mat-icon>account_circle</mat-icon> 
                        </button>           
                        <mat-error *ngIf="loginForm.controls['username'].errors?.['required']">
                         Required UserName  
                        </mat-error>
                      
                    </mat-form-field>
             
                
                     <mat-form-field class="full-width" >
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput type="password">
                         <button mat-icon-button matSuffix >
                            <mat-icon>https</mat-icon> 
                          </button>
                        <button mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>       
                        </button>
                    
                        <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">Required password.</mat-error>
                      
                    </mat-form-field> 
  
               
                <button mat-flat-button class="login"   type="submit">Login</button>
            </form>
       
        </mat-card-content>
        
    </mat-card>
    
    <div class="text-center">
       <span class="text-white">© Copyright 2022. All Rights Reserved.</span>
       
        </div>
  </div>
  
  