
.logo {

  position: absolute;
  left: 38%;
  top:-45px;


}


.content-body{
  min-height:100vh;
  // padding:48px 1rem 30px 1rem;
  background-image:url("../../../assets/images/gallery/bg4.jpg") ;

  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: block;
  position: relative;
}

.content-body::before{
  content: "";
position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

    background:#ffffffbf;

 background: linear-gradient(45deg,#00000096 50%, #ffffffbf 50%);
  background:-webkit-linear-gradient(45deg,#00000096 50%, #ffffffbf 50%);
  background:-moz-linear-gradient(45deg,#00000096 50%, #ffffffbf 50%);
  background:-o-linear-gradient(45deg,#00000096 50%, #ffffffbf 50%);
  // linear-gradient(45deg, rgb(0 0 0 / 72%) 50%, rgb(255 255 255 / 69%) 50%)
}




input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
 { -webkit-text-fill-color: var(--main-color);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}


//
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
width: 400px;
padding: 8% 0 0;
margin: auto;
}
.form {
position: relative;
z-index: 1;
background: #ffffff2b;
max-width: 400px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
box-shadow: 14px 0px 20px -9px rgb(30 30 31), -14px 10px 20px -9px rgb(30 30 31) !important;
// box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
font-family: "Roboto", sans-serif;
outline: 0;
background: #f2f2f2;
width: 100%;
border: 0;
//  margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}
.form-group{
margin: 0 0 15px;
text-align: left;
height: 75px;
}
.error{
font-weight: bold;

}
.form button {
font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline: 0;
background: #070707;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
background: var(--main-color);
}
.form .message {
// margin: 15px 0 0;
color: crimson;
font-weight: bold;
font-size: 16px;
}
.form .message a {
color: #4CAF50;
text-decoration: none;
}
.form .register-form {
display: none;
}
.container {
position: relative;
z-index: 1;
max-width: 300px;
margin: 0 auto;
}
.container:before, .container:after {
content: "";
display: block;
clear: both;
}
.container .info {
margin: 50px auto;
text-align: center;
}
.container .info h1 {
margin: 0 0 15px;
padding: 0;
font-size: 36px;
font-weight: 300;
color: #1a1a1a;
}
.container .info span {
color: #4d4d4d;
font-size: 12px;
}
.container .info span a {
color: #000000;
text-decoration: none;
}
.container .info span .fa {
color: #EF3B3A;
}
