// html,
// body {
//     height: 100%;
// }

// body {
//     display: -ms-flexbox;
//     display: -webkit-box;
//     display: flex;
//     -ms-flex-align: center;
//     -ms-flex-pack: center;
//     -webkit-box-align: center;
//     align-items: center;
//     -webkit-box-pack: center;
//     justify-content: center;
//     padding-top: 40px;
//     padding-bottom: 40px;
//     background-color: #f5f5f5;
// }

// .form-signin {
//     max-width: 530px;
//     padding: 34px;
//     margin: 50px auto;
//     background: white;
//     border: 10px solid #af8f79;
// }

// .form-signin .checkbox {
//     font-weight: 400;
// }

// .form-signin .form-control {
//     position: relative;
//     box-sizing: border-box;
//     height: auto;
//     padding: 10px;
//     font-size: 16px;
// }

// .form-signin .form-control:focus {
//     z-index: 2;
// }

// .form-signin input[type="email"] {
//     margin-bottom: -1px;
//     border-bottom-right-radius: 0;
//     border-bottom-left-radius: 0;
// }

// .form-signin input[type="password"] {
//     margin-bottom: 10px;
//     border-top-left-radius: 0;
//     border-top-right-radius: 0;
// }


.logo {
  
      position: absolute;
      left: 38%;
      top:-65px;
  
    
    }
  
  
    .content-body{
      min-height:100vh;
      padding:55px 1rem 30px 1rem;
      background-image:url("../../../assets/images/gallery/bg4.jpg") ;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      
      display: block;
      position: relative;
    }
     
    .content-body::before{
      content: "";
    position: absolute;
      left: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
     
        background:#ffffffbf;
     
     background: linear-gradient(45deg,#00000096 50%, #ffffffbf 50%);
      background:-webkit-linear-gradient(45deg,#00000096 50%, #ffffffbf 50%);
      background:-moz-linear-gradient(45deg,#00000096 50%, #ffffffbf 50%);
      background:-o-linear-gradient(45deg,#00000096 50%, #ffffffbf 50%);
    
    }
    h2{
      text-align: left;
        margin-left: 10%;
        color: transparent;
       
       
       
        /* visibility: hidden; */
    }
    mat-card{
      background-color:transparent !important;
      max-width: 450px;
      margin: 2em auto;
      text-align: center;
      height: 480px;
      /* border-radius:30px 0 30px 0 !important; */
      padding-top: 0px !important;
      color: #f9f9f9!important;
      position: relative;
      
     
    }
    .mat-card:not([class*=mat-elevation-z]){
      box-shadow: 14px 0px 20px -9px rgb(30 30 31), -14px 10px 20px -9px rgb(30 30 31) !important;
    
    }
    .header{
       /* position: absolute; */
      text-align: center;
      margin: 0 auto 30px auto; 
      width: 300px;
      /* height: 90px; */
    align-items: center;
      padding:30px 15px
     
    
    }
    .full-width{
      width: 80%;
    }
    .forgot-password{
      padding-left: 0px;
    }
    .email-input{
      padding-top: 20px;
    }
    .aLink{
      float: right;
      padding-right:60px;
      text-decoration:none;
    }
    .form-input{
      margin-bottom:20px
    }
    .login{
      background-color: #2c2d2f;
      color: #ffffff;
      width: 80%;
      border-radius: 5px;
      margin-top: 35px;
      font-size: 18px;
      letter-spacing: 1px;
      box-shadow: 5px 10px 8px #8c8c8a;
    }
    .mat-input-element{
      color: #f9f9f9 !important;
    }
  mat-label{
      color: #f9f9f9 !important;
  
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
     { -webkit-text-fill-color: var(--main-color);
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    .mat-form-field{
      margin-bottom: 25px !important;
    }
    .mat-typography h2 {
      
      margin: 0 0 25px;
    }
    .mat-button-wrapper{
      color: #fff !important;
    }
    .mat-icon-button{
      color:#c4c4c4;
    }
