.bg-light {
    background: #fafafa !important
}

.btn {
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .1);
    box-shadow: 0 24px 48px -12px rgba(0, 0, 0, .1)
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none
}

.btn.btn-primary {
    background:var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff
}

.btn.btn-primary:hover {
    border: 1px solid var(--main-color);
    background: transparent;
    color: var(--main-color)
}

.heading-section h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 10px;
    margin: 20px 0 30px 0;
}

.hero-wrap {
    width: 100%;
    height: 350px;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    background-attachment: fixed
}

.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .5;
    background: #000
}

.hero-wrap .slider-text {
    height: 250px;
    z-index: 1000;
    position: relative
}

.hero-wrap .slider-text .bread {
    font-weight: 900;
    color: #fff;
    font-size: 50px
}

.section {
    padding: 7em 0;
    position: relative
}


/*===== Place Order CSS =====*/

.place-order-div h2 {
    color:var(--main-color);
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 15px
}

.place-order-div p {
    font-size: 16px;
}

.place-order-form h4 {
    color:var(--main-color);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 30px;
    border-bottom: dashed 1px var(--main-color);
}

.place-order-form h4 i {
    font-size: 18px;
    padding-right: 5px
}

.place-order-form .form-control {
    height: 40px;
    background: #fff;
    color: #302f2f;
    font-size: 15px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

.place-order-form .form-select {
    height: 40px;
    color: #505050;
    font-size: 15px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

.place-order-form .form-control:focus,
.place-order-form .form-control:active {
    border-color: #000
}

.place-order-form textarea.form-control {
    height: inherit
}

.place-order-form label {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px
}

.place-order-form .input-group-text {
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background-color: var(--main-color);
    height: 40px;
    border-radius: 0;
    border: none
}

.place-order-form .containerRadio {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 12px auto;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.place-order-form .containerRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.place-order-form .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
}

.place-order-form .containerRadio:hover input~.checkmark {
    background-color: #ccc;
}

.place-order-form .containerRadio input:checked~.checkmark {
    background-color: var(--main-color);
}

.place-order-form .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.place-order-form .containerRadio input:checked~.checkmark:after {
    display: block;
}

.place-order-form .containerRadio .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.place-order-form .form-select.form-select-small {
    margin-bottom: 10px
}

.place-order-form small {
    font-size: 12px;
    color: #444;
    line-height: 1;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 4em 0;
    }
    .hero-wrap {
        height: 270px;
    }
    .hero-wrap .slider-text {
        height: 200px;
    }
    .hero-wrap .slider-text .bread {
        font-size: 32px;
    }
}


////////////////////////////

label.btn span {
  font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid
#c8c8c8;
border-radius: 3px;
color: #c8c8c8;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}


