<!--===== Start Banner =====-->
<section class="hero-wrap" style="background-image: url('assets/images/contact-banner.webp');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row slider-text align-items-end justify-content-center">
            <div class="col-md-9  text-center mb-4">
                <h1 class="mb-2 bread">{{'placeOrder' | translate}}</h1>
            </div>
        </div>
    </div>
</section>
<!--===== End Banner =====-->


<!--===== Start Interest Registration =====-->
<!-- <section class="section place-order-div">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2> interest registration</h2>
                <p>

                    We are keen to meet your housing aspirations and to guarantee you the perfect housing. We invite you to participate in registering your interest and desires request and we will make sure to meet them for you.
                </p>

                <a href="interest-page.html" class="btn btn-primary py-3 px-3">Interest requests for companies and establishments</a>
            </div>


        </div>
    </div>
</section> -->
<!--===== End Interest Registration =====-->

<!--===== Start  Form =====-->
<section class="section place-order-form bg-light">
    <div class="container">
        <div class="row">
            <form action="" class="row g-4" [formGroup]="myFormGroup" (submit)="onClickSubmit($event)"
            enctype="multipart/form-data">

                <div class="col-md-12 mb-5">
                
                    <h4 class="fw-bold">
                        <i class="fas fa-users"></i> Personal Information</h4>
                    <div class="row">

                        <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" formControlName="client_Name">
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="">Email Address</label>
                                <input type="email" class="form-control" formControlName="client_Mail">
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <label for="">Phone Number</label>

                            <div class="form-group input-group">
                                <span class="input-group-text">966+</span>
                                <input type="text" class="form-control" formControlName="client_Mobile">
                            </div>
                        </div>

                        <!-- <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="">Purpose of purchase</label>
                                <select class="form-select" formControlName="purpose">
                                        <option value="">Residence</option>
                                        <option value="">Investment</option>
                                    </select>
                            </div>
                        </div> -->

 <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="">Project</label>
                                <select class="form-select" formControlName="project_Ref">
                                        <option value=0></option>
                                        <option *ngFor="let i of projects" [value]="i.id">{{i.value}}</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="">Payment method</label>
                                <select class="form-select" formControlName="payment_Method">
                                        <option value=0></option>
                                        <option *ngFor="let i of paymentMethods" [value]="i.id">{{i.value}}</option>
                                   </select>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-12 mb-5">
                    <h4 class="fw-bold">
                        <i class="fas fa-map"></i> Project site data</h4>


                    <div class="row mb-2">

                        <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="">City</label>
                                <select class="form-select" formControlName="city" (change)="onChange($event)">
                                        <option value=0></option>
                                        <option *ngFor="let i of cities" [value]="i.id">{{i.value}}</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="">District</label>
                                <select class="form-select" formControlName="district">
                                        <option value=0></option>
                                        <option *ngFor="let i of districts" [value]="i.id">{{i.value}}</option>
                                    </select>
                            </div>
                        </div>

                    </div>

<!-- 
                    <div class="row  mb-4 bg-white">

                        <div class="col-md-12">
                            <div class="form-group pt-3 pb-3">
                                <label for="">District</label>

                                <div class="row">

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Taawun
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Rabiea
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Rawda
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Rayyan
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Arid
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Aqiq
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>


                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Taawun
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Rabiea
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Rawda
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Rayyan
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Arid
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>




                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Al Aqiq
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                </div>


                            </div>
                        </div>


                    </div> -->

                    <!-- <div class="row  mb-2">

                        <div class="col-lg-4 col-12">
                            <div class="form-group">
                                <label for="">All Districts</label>
                                <select class="form-select">
                                        <option value="">Riyadh</option>
                                        <option value="">...</option>
                                    </select>
                            </div>
                        </div>


                    </div> -->

                </div>

                <div class="col-md-12 mb-5">
                    <h4 class="fw-bold">
                        <i class="fas fa-home"></i> Apartment & project specifications</h4>


                    <div class="row">


                        <div class="col-md-6 mb-4">
                          <div class="form-group">
                            <label for="">Price</label>
                            <input type="number" class="form-control" formControlName="price_Avg">
                             </div>
                        </div>


                     

                        <div class="col-md-6 mb-4">
                            <div class="form-group">

                                <label  class="form-label">{{'Number Of Bedrooms' | translate}}</label>
                                <input type="number" name="" min="0"  class="form-control" formControlName="bed_Room">
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="form-group">
                                <label for="">The area of the apartment</label>
                                <input type="text" name=""  class="form-control" formControlName="space_Avg">
                                <!-- <small>Including private spaces such as the roof and others.</small> -->
                            </div>
                        </div>


                    </div>

                    <!-- <div class="row  mb-4 bg-white">

                        <div class="col-md-12">
                            <div class="form-group pt-3 pb-3">
                                <label for="">Other Project Specifications
                                        <small>(
                                            <span class="text-danger fw-bold">Note: </span> Some specifications increase the size of the apartment, which leads to a high price, so
                                            we hope to choose the three most important specifications)</small>
                                    </label>

                                <div class="row">

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Specification 1
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Specification 2
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Specification 3
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Specification 4
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Specification 5
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio">Specification 6
                                                <input type="checkbox" value="">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>


                                </div>


                            </div>
                        </div>


                    </div> -->



                    <div class="row  mb-4 bg-white">

                        <div class="col-md-12">
                            <div class="form-group pt-3 pb-3">
                                <label for="">Would you like to include 'Parking' in the establishment of the unit</label>

                                <div class="row">

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio form-check-label" >Yes
                                                <input class="form-check-input" type="radio" [value]="1" [checked]="myFormGroup.controls['parking'].value" formControlName="parking">
                                                <span class="checkmark"></span>
                                          </label>
                                    </div>

                                    <div class="col-lg-2 col-6">
                                        <label class="containerRadio form-check-label">No
                                                <input  class="form-check-input" type="radio"  [value]="0" [checked]="!myFormGroup.controls['parking'].value" formControlName="parking">
                                                <span class="checkmark"></span>
                                            </label>
                                    </div>

                                </div>


                            </div>
                        </div>


                    </div>
                    <div class="row  mb-4 bg-white">

                      <div class="col-md-12">
                          <div class="form-group pt-3 pb-3">
                              <label for="">Would you like to include 'Store' in the establishment of the unit</label>

                              <div class="row">

                                  <div class="col-lg-2 col-6">
                                      <label class="containerRadio">Yes
                                              <input type="radio"  [value]="1" [checked]="myFormGroup.controls['store'].value" formControlName="store">
                                              <span class="checkmark"></span>
                                          </label>
                                  </div>

                                  <div class="col-lg-2 col-6">
                                      <label class="containerRadio">No
                                              <input type="radio"  [value]="0" [checked]="!myFormGroup.controls['store'].value" formControlName="store">
                                              <span class="checkmark"></span>
                                          </label>
                                  </div>

                              </div>


                          </div>
                      </div>


                  </div>
                  <div class="row  mb-4 bg-white">

                    <div class="col-md-12">
                        <div class="form-group pt-3 pb-3">
                            <label for="">Would you like to include 'Terrace' in the establishment of the unit</label>

                            <div class="row">

                                <div class="col-lg-2 col-6">
                                    <label class="containerRadio">Yes
                                            <input type="radio"  [value]="1" [checked]="myFormGroup.controls['terace'].value" formControlName="terace">
                                            <span class="checkmark"></span>
                                        </label>
                                </div>

                                <div class="col-lg-2 col-6">
                                    <label class="containerRadio">No
                                            <input type="radio"  [value]="0" [checked]="!myFormGroup.controls['terace'].value" formControlName="terace">
                                            <span class="checkmark"></span>
                                        </label>
                                </div>

                            </div>


                        </div>
                    </div>


                </div>
                <div class="row  mb-4 bg-white">

                  <div class="col-md-12">
                      <div class="form-group pt-3 pb-3">
                          <label for="">Would you like to include 'Balcony' in the establishment of the unit</label>

                          <div class="row">

                              <div class="col-lg-2 col-6">
                                  <label class="containerRadio">Yes
                                          <input type="radio" [value]="1" [checked]="myFormGroup.controls['balcony'].value" formControlName="balcony">
                                          <span class="checkmark"></span>
                                      </label>
                              </div>

                              <div class="col-lg-2 col-6">
                                  <label class="containerRadio">No
                                          <input type="radio" [value]="0" [checked]="!myFormGroup.controls['balcony'].value" formControlName="balcony">
                                          <span class="checkmark"></span>
                                      </label>
                              </div>

                          </div>


                      </div>
                  </div>


              </div>
              <div class="row  mb-4 bg-white">

                <div class="col-md-12">
                    <div class="form-group pt-3 pb-3">
                        <label for="">Would you like to include 'Roof' in the establishment of the unit</label>

                        <div class="row">

                            <div class="col-lg-2 col-6">
                                <label class="containerRadio">Yes
                                        <input type="radio" [value]="1" [checked]="myFormGroup.controls['roof'].value" formControlName="roof">
                                        <span class="checkmark"></span>
                                    </label>
                            </div>

                            <div class="col-lg-2 col-6">
                                <label class="containerRadio">No
                                        <input type="radio" [value]="0" [checked]="!myFormGroup.controls['roof'].value" formControlName="roof">
                                        <span class="checkmark"></span>
                                    </label>
                            </div>

                        </div>


                    </div>
                </div>


            </div>
            <div class="row  mb-4 bg-white">

              <div class="col-md-12">
                  <div class="form-group pt-3 pb-3">
                      <label for="">Would you like to include 'Servant Room' in the establishment of the unit</label>

                      <div class="row">

                          <div class="col-lg-2 col-6">
                              <label class="containerRadio">Yes
                                    <input type="radio" [value]="1" [checked]="myFormGroup.controls['servent_Room'].value" formControlName="servent_Room" >
                                    <span class="checkmark"></span>
                                  </label>
                            
                          </div>

                          <div class="col-lg-2 col-6">
                            <label class="containerRadio">No
                                <input type="radio" [value]="0" [checked]="!myFormGroup.controls['servent_Room'].value" formControlName="servent_Room">
                                 <span class="checkmark"></span>
                            </label> 
                          </div>

                      </div>


                  </div>
              </div>


          </div>

                    <div class="row">


                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Would you like to add additional notes?</label>
                                <textarea class="form-control" rows="5" formControlName="additional_Reqst"></textarea>
                            </div>

                        </div>

                        <div class="col-md-12 text-center">
                            <small><span class="text-danger fw-bold">Warning:</span>  Your data will not be shared with any third party, and when you match
                                    one of our current or future projects, we will contact you on your email or mobile number above.</small>



                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-small btn-primary w-25 float-end  px-4  mt-2"
                                [disabled]="myFormGroup.invalid">Submit
                            </button>
                            </div>
                        </div>



                    </div>

                </div>





            </form>
        </div>



    </div>
</section>
<!--===== End  Form =====-->
