<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="secondary-color mb-3" *ngIf="propertyDetails && propertyDetails.projectName != null">Project Name : {{propertyDetails.projectName}}</h3>
            <h5 *ngIf="propertyDetails && propertyDetails.buildingName != null">Building: {{propertyDetails.buildingName}}</h5>

        </div>
        <div class="col-md-9 mb-5">
            <!-- <app-gallery [galleryImage]="propertyDetails.images" *ngIf="propertyDetails && propertyDetails.images"></app-gallery> -->
            <app-swipper-gallery [galleryImage]="propertyDetails.images" *ngIf="propertyDetails && propertyDetails.images"></app-swipper-gallery>
            <img src="assets/images/home-placeHolder.webp" class="img-fluid" *ngIf="propertyDetails && propertyDetails.images.length == 0" alt="">
            <hr class="mt-5 mb-5">
            <div class="property-section">
                <div class="row">


                    <div class="col-lg-12">





                        <div class="property-info" *ngIf="propertyDetails">



                            <div class="row mb-4">
                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>Intrance</p>
                                    <hr>
                                    <h6> {{propertyDetails.p_Intrance}} </h6>
                                </div>
                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>Basic Space</p>
                                    <hr>
                                    <h6> {{propertyDetails.basic_Space}}</h6>
                                </div>
                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>additional Space</p>
                                    <hr>
                                    <h6> {{propertyDetails.additional_Space}}</h6>
                                </div>
                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>Balacon</p>
                                    <hr>
                                    <h6> {{propertyDetails.balcon}}</h6>
                                </div>
                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>Toilet</p>
                                    <hr>
                                    <h6> {{propertyDetails.toilet_Num}}</h6>
                                </div>
                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>Servant Room</p>
                                    <hr>
                                    <h6> {{propertyDetails.servant_Room}}</h6>
                                </div>
                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>Roof</p>
                                    <hr>
                                    <h6> {{propertyDetails.roof}}</h6>
                                </div>
                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>parking</p>
                                    <hr>
                                    <h6> {{propertyDetails.parking > 0 ? 'yes':'No'}}</h6>
                                </div>
                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>Trace</p>
                                    <hr>
                                    <h6> {{propertyDetails.trace}}</h6>
                                </div>
                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>Area</p>
                                    <hr>
                                    <h6>{{propertyDetails.apartment_Space}}</h6>
                                </div>

                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/room.png" alt="">
                                    <p>Rooms</p>
                                    <hr>
                                    <h6>{{propertyDetails.bed_Room_Num}}</h6>
                                </div>

                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/kitchen.png" alt="">
                                    <p>Floor</p>
                                    <hr>
                                    <h6>{{propertyDetails.floor_Num}}</h6>
                                </div>

                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/bathroom.png" alt="">
                                    <p>Hall</p>
                                    <hr>
                                    <h6>{{propertyDetails.hall}}</h6>
                                </div>

                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/air-conditioner.png" alt="">
                                    <p>Salon</p>
                                    <hr>
                                    <h6> {{propertyDetails.salon}}</h6>
                                </div>

                            </div>

                            <!-- <div class="row space-div">
                                <h5>The Space</h5>

                                <div class="col-lg-4 col-6">
                                    <h6>year buit:
                                        <p>1971</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                    <h6>exterior material:
                                        <p>brick</p>
                                    </h6>
                                    <h6>fireplace description:
                                        <p>brick</p>
                                    </h6>
                                    <h6>floors:
                                        <p>carpet, ceramic</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                </div>

                                <div class="col-lg-4 col-6">
                                    <h6>year buit:
                                        <p>1971</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                    <h6>exterior material:
                                        <p>brick</p>
                                    </h6>
                                    <h6>fireplace description:
                                        <p>brick</p>
                                    </h6>
                                    <h6>floors:
                                        <p>carpet, ceramic</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                </div>

                                <div class="col-lg-4 col-6">
                                    <h6>year buit:
                                        <p>1971</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                    <h6>exterior material:
                                        <p>brick</p>
                                    </h6>
                                    <h6>fireplace description:
                                        <p>brick</p>
                                    </h6>
                                    <h6>floors:
                                        <p>carpet, ceramic</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                </div>

                            </div> -->

                        </div>

                    </div>


                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="row mb-1" *ngIf="propertyDetails">
                <div class="col-md-12 text-left">
                    <b class="mainColor" style="font-size: 20px;">
   {{propertyDetails.apartment_Price | number: '.2'}} ر.س

</b>
                </div>
                <div class="col-md-12 mb-1  text-center">
                    <div class="p-5" [class]="{'green': propertyDetails.statusId == 1, 'orange': propertyDetails.statusId == 2, 'pink': propertyDetails.statusId == 3}" class="status">
                        {{propertyDetails.status}}

                    </div>
                </div>
            </div>
            <hr>
            <form action="" [formGroup]="myFormGroup" (submit)="onClickSubmit($event)" enctype="multipart/form-data">
                <h5 class="secondary-color mb-3">PLACE ORDER</h5>
                <input type="text" class="form-control mb-3" placeholder="Name" formControlName="client_Name">
                <span class="text-danger error" *ngIf=" showError&&myFormGroup.controls['client_Name'].errors?.['required']">
                * Required Field
                 </span>
                <input type="text" class="form-control mb-3" placeholder="Email" formControlName="client_Mail">
                <span class="text-danger error" *ngIf=" showError&&myFormGroup.controls['client_Mail'].errors?.['email']">
                * Email form Field
        </span>
                <input type="text" class="form-control mb-3" placeholder="Phone" formControlName="client_Mobile">
                <span class="text-danger error" *ngIf=" showError&&myFormGroup.controls['client_Mobile'].errors?.['required']">
                * Required Field
        </span>
                <textarea name="" placeholder="Subject" class="form-control mb-3" id="" cols="30" rows="3" formControlName="additional_Reqst"></textarea>
                <input class="btn secondary-btn" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>