<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3 class="secondary-color mb-3">PROPERTY NAME</h3>


        </div>
        <div class="col-md-9 mb-5">
            <app-gallery [galleryImage]="propertyDetails.images" *ngIf="propertyDetails.images"></app-gallery>
            <hr class="mt-5 mb-5">
            <div class="property-section">
                <div class="row">


                    <div class="col-lg-12">




                        <div class="property-info">

                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <h6>property type:
                                        <span>apartment</span>
                                    </h6>
                                    <h6>date:
                                        <span>6/8/2021</span>
                                    </h6>
                                </div>
                                <div class="col-lg-6">
                                    <h6>built up:
                                        <span>250 sq ft</span>
                                    </h6>
                                    <h6>land size:
                                        <span>100 sq ft</span>
                                    </h6>
                                </div>
                            </div>

                            <div class="row mb-4">

                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/area.png" alt="">
                                    <p>Area</p>
                                    <hr>
                                    <h6>120</h6>
                                </div>

                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/room.png" alt="">
                                    <p>Rooms</p>
                                    <hr>
                                    <h6>3</h6>
                                </div>

                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/kitchen.png" alt="">
                                    <p>Kitchen</p>
                                    <hr>
                                    <h6>1</h6>
                                </div>

                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/bathroom.png" alt="">
                                    <p>Bathroom</p>
                                    <hr>
                                    <h6>2</h6>
                                </div>

                                <div class="col-lg-2 col-6 bg-secondary">
                                    <img src="assets/images/compare-icons/air-conditioner.png" alt="">
                                    <p>Conditioner</p>
                                    <hr>
                                    <h6>4</h6>
                                </div>

                            </div>

                            <div class="row space-div">
                                <h5>The Space</h5>

                                <div class="col-lg-4 col-6">
                                    <h6>year buit:
                                        <p>1971</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                    <h6>exterior material:
                                        <p>brick</p>
                                    </h6>
                                    <h6>fireplace description:
                                        <p>brick</p>
                                    </h6>
                                    <h6>floors:
                                        <p>carpet, ceramic</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                </div>

                                <div class="col-lg-4 col-6">
                                    <h6>year buit:
                                        <p>1971</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                    <h6>exterior material:
                                        <p>brick</p>
                                    </h6>
                                    <h6>fireplace description:
                                        <p>brick</p>
                                    </h6>
                                    <h6>floors:
                                        <p>carpet, ceramic</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                </div>

                                <div class="col-lg-4 col-6">
                                    <h6>year buit:
                                        <p>1971</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                    <h6>exterior material:
                                        <p>brick</p>
                                    </h6>
                                    <h6>fireplace description:
                                        <p>brick</p>
                                    </h6>
                                    <h6>floors:
                                        <p>carpet, ceramic</p>
                                    </h6>
                                    <h6>basement:
                                        <p>full</p>
                                    </h6>
                                </div>

                            </div>

                        </div>

                    </div>


                </div>
            </div>

        </div>
        <div class="col-md-3">
            <h5 class="secondary-color mb-3">PLACE ORDER</h5>
            <input type="text" class="form-control mb-3" placeholder="Email">
            <input type="text" class="form-control mb-3" placeholder="Phone">
            <textarea name="" placeholder="Subject" class="form-control mb-3" id="" cols="30" rows="3"></textarea>
            <button class="btn secondary-btn">Submit</button>
        </div>
    </div>
</div>