<footer class="footer-panel section-container dark-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5 class="secondary-color mb-3">{{'aboutIndexTitle'|translate}}</h5>
                <p>SAQEEFAH is the leader in online real estate and operator of the WK of real estate web site for consumers and real estate professionals. Real Estate of websites captures more than 20 million monthly visitors SAQEEFAH is the leader in online
                    real estate and operator of the WK of real</p>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <h6> <span class="icon tagr-icon-address secondary-color"></span> {{'ourOffice' | translate}}</h6>

                            </div>
                            <div class="col-md-6">
                                <p>1950 New York, NY, Ave NW, California, DC 3000600, USA, 08 - 17 mon-fr</p>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-0 "> <i class="icon tagr-icon-mobile-phone"></i> +1 202 555 0135</p>
                                <p class="mb-0"> <i class="icon tagr-icon-fax"></i> Fax: +1 202 555 0135</p>
                                <p><i class="icon tagr-icon-mail"></i> hello@example.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h5 class="secondary-color mb-3">{{'Feedback' |translate}}</h5>
                        <input type="text" class="form-control mb-3" placeholder="{{'Email' | translate}}">
                        <textarea name="" placeholder="{{'Subject'|translate}}" class="form-control mb-3" id="" cols="30" rows="3"></textarea>
                        <button class="btn secondary-btn">{{'Submit'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>