.about-section {
    p {
        margin-bottom: 0px !important;
    }
    strong {
        margin-top: 10px !important;
        display: inline-block !important
    }
}

.img-panel.map-image-panel {
    max-height: 150px;
    overflow: hidden;
}

.panorama-container {
    height: 100vh;
}