@charset "UTF-8";

@font-face {
  font-family: "face-mess";
  src:url("fonts/face-mess.eot");
  src:url("fonts/face-mess.eot?#iefix") format("embedded-opentype"),
    url("fonts/face-mess.woff") format("woff"),
    url("fonts/face-mess.ttf") format("truetype"),
    url("fonts/face-mess.svg#face-mess") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "face-mess" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tagr-"]:before,
[class*=" tagr-"]:before {
  font-family: "face-mess" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tagr-bed:before {
  content: "\61";
}
.tagr-icon-mobile-phone:before {
  content: "\63";
}
.tagr-icon-meeting-room:before {
  content: "\64";
}
.tagr-icon-mail:before {
  content: "\65";
}
.tagr-icon-kitchen:before {
  content: "\66";
}
.tagr-icon-home:before {
  content: "\67";
}
.tagr-icon-heart:before {
  content: "\62";
}
.tagr-icon-couch:before {
  content: "\68";
}
.tagr-icon-building-line:before {
  content: "\69";
}
.tagr-icon-air-conditioner:before {
  content: "\6a";
}
.tagr-icon-address:before {
  content: "\6b";
}
.tagr-vector:before {
  content: "\6c";
}
.tagr-social-twitter:before {
  content: "\6d";
}
.tagr-social-google-plus:before {
  content: "\6e";
}
.tagr-social-facebook:before {
  content: "\6f";
}
.tagr-social-linkedin:before {
  content: "\70";
}
.tagr-icon-fax:before {
  content: "\71";
}
.tagr-chevron-right:before {
  content: "\72";
}
.tagr-chevron-left:before {
  content: "\73";
}
.tagr-android-apps:before {
  content: "\74";
}
.tagr-list-bullet:before {
  content: "\75";
}
.tagr-layout:before {
  content: "\77";
}
