<div class="panorama-container" *ngIf="websiteSetting">
    <app-panorama [setting]="filterSetting(SettingTypes.Panorama)" [panoramaImg]="filterSetting(SettingTypes.Panorama,'imagePath')"></app-panorama>
</div>

<app-about-section [setting]="websiteSetting"></app-about-section>
<app-recent-list [projects]="AllProjects" [projectsForSale]="projectsForSale"></app-recent-list>

<div class="slider-1 container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Slider one</h4>
            <p class="text-center">Your home should fit the way you live, with spaces and features that appeal to the entire family. Before you begin looking at homes, make a list of your priorities: location, size, lot, amenities, etc. Establish a set of minimum requirements
                and a "wish list". Minimum requirements are things that a house must have for you to consider it, while a "wish list" covers things that you'd like to have but aren't essential.</p>
        </div>
        <div class="col-md-12">
            <app-logo-slider-one></app-logo-slider-one>

        </div>
    </div>
</div>
<div class="slider-2 container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Slider tow</h4>
            <p class="text-center">Your home should fit the way you live, with spaces and features that appeal to the entire family. Before you begin looking at homes, make a list of your priorities: location, size, lot, amenities, etc. Establish a set of minimum requirements
                and a "wish list". Minimum requirements are things that a house must have for you to consider it, while a "wish list" covers things that you'd like to have but aren't essential.</p>
        </div>
        <div class="col-md-12">
            <app-logo-slider-one></app-logo-slider-one>

        </div>
    </div>
</div>
<app-map></app-map>
<app-parallax></app-parallax>