<div class="about-section section-container gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h3> <span class="secondary-color">{{'aboutIndexTitle' | translate}}</span></h3>
                <p>{{'aboutIndexDesc' | translate}}</p>
            </div>
            <div class="col-md-6">
                <img src="assets/images/list/about.jpg" class="img-fluid" alt="" srcset="">
            </div>
            <div class="col-md-6">
                <div class="section-panel">
                    <h4>{{'missionIndex' | translate}}</h4>
                    <p>In addition, RealtySpace operates the largest real estate and rental advertising networks in the SAUDI ARABIA. in partnership with Livemile Homes!</p>
                </div>
                <div class="section-panel">
                    <h4>{{'easyFind' | translate}}</h4>
                    <p>In addition, RealtySpace operates the largest real estate and rental advertising networks in the SAUDI ARABIA. in partnership with Livemile Homes!</p>
                </div>
                <div class="section-panel">
                    <h4>{{'goodSales'| translate}}</h4>
                    <p>In addition, RealtySpace operates the largest real estate and rental advertising networks in the SAUDI ARABIA. in partnership with Livemile Homes!</p>
                </div>
            </div>
        </div>
    </div>
</div>