<div class="about-section section-container gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h3> <span class="secondary-color">{{filterSetting(SettingTypes.AboutUs,'title')}}</span></h3>
                <p>{{filterSetting(SettingTypes.AboutUs,'description')}}</p>
            </div>
            <div class="col-md-6">
                <img [src]="appRootUrl+filterSetting(SettingTypes.AboutUs,'imagePath')" class="img-fluid" alt="" srcset="">
            </div>
            <div class="col-md-6">
                <div class="section-panel">
                    <h4>{{filterSetting(SettingTypes.OurVision,'title')}}</h4>
                    <p>{{filterSetting(SettingTypes.OurVision,'description')}}</p>
                </div>
                <div class="section-panel">
                    <h4>{{filterSetting(SettingTypes.OurGoals,'title')}}</h4>
                    <p>{{filterSetting(SettingTypes.OurGoals,'description')}}</p>
                </div>
            </div>
        </div>
    </div>
</div>