<!--===== Start Banner =====-->
<section class="hero-wrap" style="background-image: url('assets/images/banner.webp');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row slider-text align-items-end justify-content-center">
            <div class="col-md-9  text-center mb-4">
                <h1 class="mb-2 bread">About Us</h1>
            </div>
        </div>
    </div>
</section>
<!--===== End Banner =====-->





<!--===== Start CEO =====-->
<section class="section bg-light about-text-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>CEO Word</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>

            </div>

        </div>
    </div>
</section>
<!--===== End CEO =====-->

<!--===== Start About =====-->
<section class="section about-text-section about-div">
    <div class="container">

        <div class="row mb-md-5 mb-3">

            <div class="col-md-6">
                <img src="assets/images/img1.webp" class="img-fluid">
            </div>
            <div class="col-md-6 about-div-text">
                <h2>Our Vision</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>

            </div>

        </div>

        <div class="row mb-md-5 mb-3">

            <div class="col-md-6  order-md-1">
                <img src="assets/images/img2.webp" class="img-fluid">
            </div>
            <div class="col-md-6 about-div-text">
                <h2>Our Mission</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>

            </div>

        </div>

        <div class="row mb-md-5 mb-3">

            <div class="col-md-6">
                <img src="assets/images/img3.webp" class="img-fluid">
            </div>
            <div class="col-md-6 about-div-text">
                <h2>Our Goals </h2>

                <ul>
                    <li>Improve building quality.</li>
                    <li>Raise the lifestyle standards for the community.</li>
                    <li>Contribute to creating an innovative environment.</li>
                    <li>Embrace social responsibility.</li>
                </ul>


            </div>

        </div>

        <div class="row mb-md-5 mb-3">

            <div class="col-md-6  order-md-1">
                <img src="assets/images/img1.webp" class="img-fluid">
            </div>
            <div class="col-md-6 about-div-text">
                <h2>Our Designs</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>

            </div>

        </div>

    </div>
</section>
<!--===== End About =====-->


<!--===== Start About Meeting =====-->
<section class="sectopn-parallex" style="background-image: url('assets/images/bg1.webp');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row slider-text align-items-end justify-content-center">
            <div class="col-md-9  text-center">
                <h2>About Our Meetings</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
        </div>
    </div>
</section>
<!--===== End About Meeting =====-->


<!--===== Start Fashionable Designs =====-->
<section class="section about-text-section fashionable-designs">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Fashionable Designs</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>

            </div>

        </div>


        <div class="row row-img1">
            <div class="col-md-8">
                <img src="assets/images/bg2.webp" class="img-fluid">
            </div>

            <div class="col-md-4">
                <img src="assets/images/bg1.webp" class="img-fluid">
            </div>

        </div>

        <div class="row row-img2">
            <div class="col-md-4">
                <img src="assets/images/img1.webp" class="img-fluid">
            </div>

            <div class="col-md-4">
                <img src="assets/images/img2.webp" class="img-fluid">
            </div>

            <div class="col-md-4">
                <img src="assets/images/img3.webp" class="img-fluid">
            </div>

        </div>



    </div>
</section>
<!--===== End Fashionable Designs =====-->