<div class="card project-card" [routerLink]="['/project',project.projectId]" style="cursor: pointer;">
    <div class="img-panel">
        <div class="img-container">
            <img [src]="'assets/images/list/p1.jpg'" class="card-img-top" alt="...">
        </div>
        <i class="icon tagr-icon-heart fav-icon"></i>
        <div class="card-label">{{project.status}}</div>

        <div class="card-mask"></div>
    </div>
    <div class="card-body">
        <div class="unit-location">
            <div class="row">
                <div class="col-md-5">
                    <h5>Unit Name</h5>
                    <h6>{{project.city}}</h6>

                </div>
                <div class="col-md-7">
                    <div class="location-panel">
                        <i class="icon tagr-vector"></i>
                        <a href="" class="link-togmap">location Details</a>
                    </div>

                </div>
            </div>


        </div>
        <div class="unit-specs">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <span class="specs-ele"> <i class="icon tagr-icon-building-line"></i>  <span class="specs-count"><span class="counter me-1">Buildings</span>{{project.numberOfBuildings}}</span>
                    </span>
                </div>
                <div class="col-md-6 mb-2">
                    <span class="specs-ele"> <i class="icon tagr-icon-home"></i>  <span class="specs-count"><span class="counter me-1">Appartments</span>{{project.numberOfUnits}}</span>
                    </span>
                </div>


            </div>
        </div>
    </div>
</div>