<div class="serch-form">
    <div class="box" >
        <form (ngSubmit)="ApplyFilterProject()" [formGroup]="form">
            <div class="mb-3">
                <label class="form-label">{{'CITY' | translate}}</label>
                <select class="form-select form-select-lg mb-3" (change)="cityChange($event);" formControlName="city" aria-label=".form-select-lg example">
                <option selected value="all">{{'--Please Select--' | translate}}</option>
                <option *ngFor="let city of cities" value="{{city.value}}">{{city.value}}</option>
            </select>
            </div>
            <div class="mb-3">
                <label class="form-label">{{'District' | translate}}</label>
                <select class="form-select form-select-lg mb-3" (change)="ApplyFilterProject()" formControlName="district" aria-label=".form-select-lg example">
                <option selected value="all">{{'--Please Select--' | translate}}</option>
                <option *ngFor="let dist of districts" value="{{dist.value}}">{{dist.value }}</option>
            </select>
            </div>
            <div class="mb-3">
                <label class="form-label">{{'STATUS' | translate}}</label>
                <select class="form-select form-select-lg mb-3" (change)="ApplyFilterProject()" formControlName="status" aria-label=".form-select-lg example">
                <option selected value="all">{{'--Please Select--' | translate}}</option>
                <option *ngFor="let state of status"   value="{{state.id}}">{{state.value}}</option>
            </select>
            </div>
            <div class="mb-3">
                <label class="form-label">{{'NUM. OF APPARTMENTS' | translate}}</label>
                <input type="number" name="" min="0" (input)="ApplyFilterProject()" formControlName="appartmentNo" class="form-control" >
            </div>
            <div class="mb-3">
                <label class="form-label">{{'NUM. OF Available Apartments' | translate}}</label>
                <input type="number" name="" min="0" (input)="ApplyFilterProject()" formControlName="appartmentAvailableNo" class="form-control" >
            </div>
            <div class="mb-3">
                <label class="form-label">{{'NUM. OF BUILDINGS' | translate}}</label>
                <input type="number" name="" (input)="ApplyFilterProject()" formControlName="buildingNo" min="0" class="form-control" >
            </div>
            <div class="mb-3">
                <button type="button" (click)="clearFilter()" class="btn btn-small btn-primary ">Clear</button>
            </div>
        </form>
    </div>
</div>