<div class="min-w-screen min-h-screen bg-white flex items-center justify-center {{viewType}}" style="cursor: pointer;">
    <div class="card">
        <div class="cover">
            <div class="user-banner">
                <i class="icon tagr-icon-heart fav-icon" [attr.data-cardIco-id]="property.apartment_Id" [class.active]="property.favorite" (click)="favorites.toggleFavorites(property)"></i>
                <div class="compare" [attr.data-cardCompico-id]="property.apartment_Id" [class.active]="property.Compare" (click)="compare.toggleCompare(property)">Compare</div>
                <img [routerLink]="propertyLink+property.apartment_Id" src='assets/images/home-placeHolder.webp' class="w-100" *ngIf="property.images.length == 0" alt="" />
                <img [routerLink]="propertyLink+property.apartment_Id" [src]="image.path? appRootUrl+image.path :'assets/images/home-placeHolder.webp'" *ngFor="let image of property.images" alt="" id="{{image.attachmentId}}" />
            </div>
            <div class="user-image">
                <img [routerLink]="propertyLink+property.apartment_Id" [src]="property.coverImage ? appRootUrl+property.coverImage :'assets/images/home-placeHolder.webp'" alt="" />

            </div>
            <div class="created" *ngIf="EditMode" [routerLink]="'../edit-property/'+property.project_Ref+'/'+property.apartment_Id">
                <i class="fas fa-edit"></i> Edit
            </div>

        </div>

        <!-- <div class="profile"></div> -->
        <div class="info">
            <div class="title">
                {{' City' | translate}}
                <span class="username mx-1">status</span>
                <span class=" price ">{{'Price :' | translate}} {{property.apartment_Price | currency:'SAR':'\u0631\u002e\u0633\u002e'}}</span>
            </div>
            <div class="description mt-2">


                <ul class="row pl-0">
                    <div class="col-12 col-md-6 pl-0">
                        <!-- <li><span>{{'Project Reference:'| translate}}</span> <span class="num">{{property.project_Ref}}</span></li> -->
                        <li><span>{{'Build Reference:'| translate}}</span><span class="num">{{property.build_Ref}}</span></li>
                        <li><span>{{'Basic Space:'| translate}}</span><span class="num">{{property.basic_Space}}</span></li>
                        <li><span>{{'Additional Space:'| translate}}</span><span class="num">{{property.additional_Space}}</span></li>
                    </div>
                    <div class="col-12 col-md-6 px-0">
                        <li><span>{{'Appartment Number:'| translate}}</span><span class="num">{{property.apartment_Num}}</span></li>
                        <li><span>{{'Appartment Space:'| translate}}</span><span class="num">{{property.apartment_Space}}</span></li>
                        <li><span>{{'Floor_Ref:'| translate}}</span> <span class="num">{{property.floor_Ref}}</span></li>
                        <li><span>{{'P-Intrance:'| translate}} </span><span class="num">{{property.p_Intrance}}</span></li>
                    </div>

                </ul>

            </div>
            <!-- <div class="created">
         <i class="fas fa-edit"></i> Edit
        </div> -->


            <div class="unit-specs mt-2">
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/floor.png" alt=""> 
                    
                        <span class="specs-count mx-1 ">{{property.floor_Num}}</span>
                        <span class="specs-title ">Floor</span>
                        </span>
                    </div>
                    <div class="col-md-4  mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/bedroom.png" alt=""> 
                        <span class="specs-count mx-1">{{property.bed_Room_Num}}</span>
                        <span class="specs-title ">Bedroom</span>
                        </span>
                    </div>
                    <div class="col-md-4  mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/salon.png" alt=""> 
                        <span class="specs-count mx-1">{{property.salon}}</span>
                        <span class="specs-title ">Salon</span>
                        </span>
                    </div>
                    <div class="col-md-4  mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/hall.png" alt=""> 
                        <span class="specs-count mx-1">{{property.hall}}</span>
                        <span class="specs-title ">Hall</span>
                        </span>
                    </div>

                    <div class="col-md-4  mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/toilet.png" alt=""> 
                        <span class="specs-count mx-1">{{property.toilet_Num}}</span>
                        <span class="specs-title ">Bathroom</span>
                        </span>
                    </div>
                    <div class="col-md-4  mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/store.png" alt=""> 
                        <span class="specs-count mx-1">{{property.store}}</span>
                        <span class="specs-title ">Store</span>
                        </span>
                    </div>
                    <div class="col-md-4  mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/balcon.png" alt=""> 
                        <span class="specs-count mx-1">{{property.balcon}}</span>
                        <span class="specs-title ">Balcon</span>
                        </span>
                    </div>
                    <div class="col-md-4  mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/trace1.png" alt=""> 
                        <span class="specs-count mx-1">{{property.trace}}</span>
                        <span class="specs-title ">Trace</span>
                        </span>
                    </div>

                    <div class="col-md-4  mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/roof.png" alt=""> 
                        <span class="specs-count mx-1">{{property.roof}}</span>
                        <span class="specs-title ">Roof</span>
                        </span>
                    </div>

                    <div class="col-md-4  mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/parking.png" alt=""> 
                        <span class="specs-count mx-1">{{property.parking}}</span>
                        <span class="specs-title ">Parking</span>
                        </span>
                    </div>
                    <div class="col-md-6  mb-2">
                        <span class="specs-ele">
                        <img src="../../../assets/images/servantRoom.png" alt=""> 
                        <span class="specs-count mx-1">{{property.servant_Room}}</span>
                        <span class="specs-title ">Servantroom</span>
                        </span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>