<div class="card property-card {{viewType}}" style="cursor: pointer;">
    <div class="img-panel d-flex">
        <div class="imagebox">
            <div class="img-container">
                <img [src]="property.coverImage ? appRootUrl+property.coverImage :'assets/images/home-placeHolder.webp'" class="card-img-top" alt="...">
            </div>
            <i class="icon tagr-icon-heart fav-icon" [attr.data-cardIco-id]="property.apartment_Id" [class.active]="property.favorite" (click)="favorites.toggleFavorites(property)"></i>

            <div class="card-label" [class]="{'green': property.statusId == 1, 'orange': property.statusId == 2, 'pink': property.statusId == 3}">{{property.status}}</div>
            <span class="edit-project" *ngIf="EditMode" [routerLink]="'../edit-property/'+property.project_Ref+'/'+property.apartment_Id">Edit</span>
            <div class="compare" [attr.data-cardCompico-id]="property.apartment_Id" [class.active]="property.Compare" (click)="compare.toggleCompare(property)">Compare</div>
            <div class="card-mask" [routerLink]="'property/'+property.apartment_Id"></div>
            <div class="unit-price">
                <h5 class="mb-0">Price : {{property.apartment_Price}} ر.س</h5>

            </div>
            <div class="moreSpcs" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+property.apartment_Id">
                more specs
            </div>
        </div>

    </div>
    <div class="card-body">

        <div class="unit-specs">
            <div class="row">
                <div class="col-md-4 mb-2" *ngFor="let item of itemSpecsIcon; let i = index">
                    <span class="specs-ele"> <i *ngIf="itemSpecsIcon[i].icon" [class]="itemSpecsIcon[i].src"></i> <img [src]="itemSpecsIcon[i].src" width="20"  *ngIf="!itemSpecsIcon[i].icon" alt=""> <span class="specs-count"><span class="counter me-1">{{itemSpecsIcon[i].count}}</span>{{itemSpecsIcon[i].type}}</span>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>


<div *ngIf="property" class="modal fade" [id]="'exampleModal'+property.apartment_Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">More Specs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="basic-info">



                    <ul class="list-inline other-specs">
                        <li class="list-inline-item "><span class="">{{'Project Reference:'| translate}}{{property.project_Ref}}</span></li>
                        <li class="list-inline-item "><span class="">{{'Build Reference:'| translate}}{{property.build_Ref}}</span></li>
                        <li class="list-inline-item "><span class="">{{'Appartment Number:'| translate}}{{property.apartment_Num}}</span></li>
                        <li class="list-inline-item "><span class="">{{'Appartment Space:'| translate}}{{property.apartment_Space}}</span></li>
                        <li class="list-inline-item "><span class="">{{'Additional Space:'| translate}}{{property.additional_Space}}</span></li>
                        <li class="list-inline-item "><span class="">{{'Basic Space:'| translate}}{{property.basic_Space}}</span></li>
                        <li class="list-inline-item "><span class="">{{'P-Intrance:'| translate}} {{property.p_Intrance}}</span></li>
                    </ul>





                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>