<div class="card" style="cursor: pointer;">
    <div class="img-panel">
        <div class="img-container">
            <img [src]="appRootUrl+property.coverImage" class="card-img-top" alt="...">
        </div>
        <i class="icon tagr-icon-heart fav-icon" [attr.data-cardIco-id]="property.apartmentId" [class.active]="property.favorite" (click)="favorites.toggleFavorites(property)"></i>

        <div class="card-label">For Rent</div>
        <span class="edit-project" [routerLink]="'../edit-property/'+property.project_Ref+'/'+property.apartment_Id">Edit</span>
        <div class="compare" [attr.data-cardCompico-id]="property.apartmentId" [class.active]="property.Compare" (click)="compare.toggleCompare(property)">Compare</div>
        <div class="card-mask" [routerLink]="['/property',property.project_Ref,property.apartment_Id]"></div>
    </div>
    <div class="card-body">
        <div class="unit-location">
            <div class="row">
                <div class="col-md-5">
                    <h5>Unit Name</h5>
                    <h6>Country</h6>

                </div>
                <div class="col-md-7">
                    <div class="location-panel">
                        <i class="icon tagr-vector"></i>
                        <a href="" class="link-togmap">{{'unitLocationDetails' | translate}}</a>
                    </div>

                </div>
            </div>


        </div>
        <div class="unit-specs">
            <div class="row">
                <div class="col-md-4 mb-2" *ngFor="let item of homespecs; let i = index">
                    <span class="specs-ele"> <i *ngIf="itemSpecsIcon[i].icon" [class]="itemSpecsIcon[i].src"></i> <img [src]="itemSpecsIcon[i].src" width="20"  *ngIf="!itemSpecsIcon[i].icon" alt=""> <span class="specs-count"><span class="counter me-1">{{itemSpecsIcon[i].count}}</span>{{itemSpecsIcon[i].type}}</span>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>