<div class="card">
    <div class="img-panel">
        <img src="https://via.placeholder.com/600" class="card-img-top" alt="...">
        <i class="icon tagr-icon-heart fav-icon"></i>
        <div class="card-label">For Rent</div>
        <div class="card-mask"></div>
    </div>
    <div class="card-body">
        <div class="unit-location">
            <div class="row">
                <div class="col-md-6">
                    <h5>Unit Name</h5>
                    <h6>Country</h6>

                </div>
                <div class="col-md-6">
                    <div class="location-panel">
                        <i class="icon tagr-vector"></i>
                        <a href="" class="link-togmap">location Details</a>
                    </div>

                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <span>3 Rooms</span>
                </div>
                <div class="col-md-4">
                    <span>3 Rooms</span>
                </div>
                <div class="col-md-4">
                    <span>3 Rooms</span>
                </div>
                <div class="col-md-4">
                    <span>3 Rooms</span>
                </div>
                <div class="col-md-4">
                    <span>3 Rooms</span>
                </div>
                <div class="col-md-4">
                    <span>3 Rooms</span>
                </div>
            </div>
        </div>

    </div>
</div>