/* You can add global styles to this file, and also import other style files */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700%7cSource+Sans+Pro:200,400,600,700,900,400italic,700italic&amp;subset=latin,latin-ext);
@import'./assets/css/font-awesome.css';
//core
@import './assets/scss/base/varibles';
@import './assets/scss/base/_common';
//icons
@import './assets/fonts/icons/styles.css';
@import './assets/iconmoonstyle.css';
@import './assets/svgstyle.css';
// layout
@import './assets/scss/layout/top-header';
@import './assets/scss/layout/header';
@import './assets/scss/layout/footer';
// compnent
@import './assets/scss/components/map';
@import './assets/scss/components/panorama';
@import './assets/scss/components/property-card';
@import './assets/scss/components/_slider-input';
@import './assets/scss/components/forms';
@import './assets/scss/components/project-modal';
// pages
@import './assets/scss/pages/search';
@import './assets/scss/pages/project-details';
@import './assets/scss/pages/home';
//toastr
@import "../node_modules/ngx-toastr/toastr.css";
// @import "../node_modules/swiper/swiper";
body {
    background: #F6F6F6;
}

:root {
    --main-color: #86815b;
}

th {
    text-align: center !important;
}

.accordion-button:focus,
.accordion-button:active {
    outline: none !important;
    outline: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 2px solid #000 !important;
    background-color: #f6f6f6 !important;
}

.dataTables_wrapper .dataTables_filter {
    margin-bottom: 10px !important;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid var(--main-color) !important;
    border-radius: 3px;
    padding: 5px;
    background-color: white !important;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid var(--main-color) !important;
    border-radius: 3px;
    padding: 5px;
    background-color: white !important;
}

h4 {
    text-transform: capitalize;
}

i:hover {
    cursor: pointer;
}

#myTab a.active {
    color: white;
    background: var(--main-color);
}

.containerRadio input:checked~.checkmark {
    background-color: var(--main-color);
}


/* width */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000;
    border-radius: 0px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    // box-shadow: inset 0 0 5px #dedede;
    background: var(--main-color);
    border-radius: 20px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--main-color);
}

@import './assets/scss/base/responsive';