<!-- <ngx-spinner type="timer">
    <h5>Loading</h5>
</ngx-spinner> -->
<!-- <app-header></app-header> -->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-2 sidebar px-0">
            <ul class="px-0">
                <a routerLink="user">
                    <li class="full-width">Users</li>
                </a>
                <a routerLink="test">
                    <li class="full-width"> Test</li>
                </a>
                <a>
                    <li  class="accordion-button full-width collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsemain" aria-expanded="false" aria-controls="collapsemain">Website Settings</li>
                </a>
                <div id="collapsemain" class="accordion-collapse collapse" aria-labelledby="headingOne" >

                    <div class="accordion-body">
                        <ul class="px-0">
                            <a routerLink="settings">
                                <li class="full-width">Settings</li>
                            </a>
                            <a routerLink="social">
                                <li class="full-width">Social</li>
                            </a>
                            <a routerLink="partner">
                                <li class="full-width">Partner</li>
                            </a>
                            <a routerLink="websiteInfo">
                              <li class="full-width">Website Information</li>
                            </a>
                        </ul>
                    </div>
                </div>


                <a routerLink="projects">
                    <li class="full-width"> Projects</li>
                </a>
                <a routerLink="Appartments">
                    <li class="full-width">Appartments</li>
                </a>

            </ul>
        </div>
        <div class="col-md-10 ps-5 ">

<section id="info-utile" class="">
    <div class="container">
      <ngx-spinner type="timer">
        <h5>Loading</h5>
    </ngx-spinner>
            <router-outlet></router-outlet>
    </div>
</section>

        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->
