main{
    /* padding:50px 10px 0px 10px; */
    padding: 50px 0 0 0 ;
}
mat-sidenav-container ,mat-sidenav-content , mat-sidenav{
    height: 100%;;
}


/* mat-sidenav{
    
    background:linear-gradient(90deg,#3c0519,#3c0519, #791238);
 box-shadow: 0px 5px 15px #a4a4a3;
   position: fixed;
   padding-top: 64px; 
} */
app-header{
    position: fixed;
    width: 100%;
    z-index: 20;

}



#sidenav {
    width: 240px;
}

#sidenav.menu-close {
    width: 0px
}

#sidenav.menu-open {
    width: 240px
}


#sidenav .mat-list-item-content {
    padding: 0;
}




/*bootstap style*/

.sidebar{
    background:-webkit-linear-gradient(#d8ccc3, #203870e6 50% );
    background:-moz-linear-gradient(#d8ccc3, #203870e6 50% );
    background:-o-linear-gradient(#d8ccc3, #203870e6 50% );
    background:linear-gradient(#d8ccc3, #203870e6 50%);
 box-shadow:0px 5px 15px #515658;
 padding-top: 140px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
  }
  a:hover,a:active{
    color: lightgray;
  }
  
  
  li {
    
      color:#fff !important
  }
  li:hover{
    box-shadow: inset 0px 0px 5px #d6dadc;
    background-color: #b2bcc0;
    
  }
  .full-width {
    width: 100%;
    padding: 15px 20px;
  }