<!-- <app-header></app-header> -->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-2 sidebar px-0">
            <ul class="px-0">
                <a routerLink="user">
                    <li class="full-width">Users</li>
                </a>
                <a routerLink="test">
                    <li class="full-width"> Test</li>
                </a>
                <a>
                    <li  class="accordion-button full-width collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsemain" aria-expanded="false" aria-controls="collapsemain">Website Settings</li>
                </a>
                <div id="collapsemain" class="accordion-collapse collapse" aria-labelledby="headingOne" >

                    <div class="accordion-body">
                        <ul class="px-0">
                            <a routerLink="settings">
                                <li class="full-width">Settings</li>
                            </a>
                            <a routerLink="social">
                                <li class="full-width">Social</li>
                            </a>
                        </ul>
                    </div>
                </div>


                <a routerLink="projects">
                    <li class="full-width"> Projects</li>
                </a>
                <a routerLink="Appartments">
                    <li class="full-width">Appartments</li>
                </a>

            </ul>
        </div>
        <div class="col-md-10 ps-5 ">
            
<section id="info-utile" class="">
    <div class="container">
            <router-outlet></router-outlet>
    </div>
</section>

        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->
<!-- 

<div class="row">
    <div class="col-md-3 ps-0 sidebar">
        <ul>
            <li><a routerLink="user">Users</a></li>
            <li> <a routerLink="settings">Website Settings</a></li>
            <li><a routerLink="projects">Projects</a> </li>
            <li><a routerLink="Appartments">Appartments</a> </li>

        </ul>
    </div>
    <div class="col-md-9 ps-5 ">
        <router-outlet></router-outlet>
        <app-footer></app-footer>

    </div>
</div> -->
<!-- <div class="container">
  <main #main>  

            <router-outlet>
            </router-outlet>
         
         </main>
    
 </div> -->