

/*bootstap style*/
.container-fluid{
    min-height: 92.8vh;
}


app-header{
    position: fixed;
    width: 100%;
    z-index: 20;

}

section{
    padding: 100px 0 50px 0;
}


 
  .accordion-button:not(.collapsed)::after{
    background-image:none !important;
    transform: none !important;
    content: '-' !important;
    // float: right !important;
    font-size: 25px !important;
    color:#fff !important;

  }

  .accordion-button.collapsed:after {
    background-image:none !important;
    transform: none !important;
    content: '+' !important;
    font-size: 25px !important;
    color: #fff !important;
    // float: right !important;
  }
  .accordion-body{
    box-shadow:inset 4px 4px 4px #1f376d, inset -4px -4px 4px #1f376d;
  }


.sidebar{
    min-height: 92.8vh;
    background:-webkit-linear-gradient(#203870e6 50%,#d8ccc3);
    background:-moz-linear-gradient(#203870e6 50%,#d8ccc3);
    background:-o-linear-gradient(#203870e6 50%,#d8ccc3);
    background:linear-gradient(#203870e6 50%,#d8ccc3);
 box-shadow:0px 5px 15px #515658;
 padding-top: 65px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
  }
  a:hover,a:active{
    color: lightgray;
  }
  
  
  li {
    
      color:#fff !important
  }
  li:hover{
    box-shadow: inset 0px 0px 5px #d6dadc;
    background-color: #b2bcc0;
    
  }
  .full-width {
    width: 100%;
    padding: 15px 20px;
   border-bottom: 1px solid rgb(46 66 114)
  }