
<section id="info-utile" class="">
    <div class="container">

        <!-- <h3 class="text-center text-uppercase mb-5 lead-h-text text-gray">SocialMedia</h3>
         -->
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Social Media
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4" #AboutUs (ngSubmit)="onClickSubmit(AboutUs)" >
                        <div class="my-1 d-flex">
                            <label for="exampleFormControlInput1" class="form-label">Facebook <i class="icon tagr-social-facebook"></i> : </label>
                            <div class="formg">
                                <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Fill Field">
                            </div>
                          </div>
                          <div class="my-1 d-flex">
                            <label for="exampleFormControlInput1" class="form-label">Linkedin <i class="icon tagr-social-linkedin"></i> : </label>
                            <div class="formg">
                                <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Fill Field">
                            </div>
                          </div>
                          <div class="my-1 d-flex">
                            <label for="exampleFormControlInput1" class="form-label">Twitter <i class="icon tagr-social-twitter"></i> : </label>
                            <div class="formg">
                                <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Fill Field">
                            </div>
                          </div>
                          <div class="my-1 d-flex">
                            <label for="exampleFormControlInput1" class="form-label"> Google Plus <i class="icon tagr-social-google-plus"></i> : </label>
                            <div class="formg">
                                <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Fill Field">
                                <button type="submit" class="btn btn-small btn-primary w-25 float-end  px-4  mt-2">login</button>
                            </div>
                          </div>
                          
                         
                        </form>
                   
                </div>
                </div>
            </div>
<!-- <h3>Social</h3>

<div class="panel-group" id="accordionSingleOpen" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="collapseItemOpenOne" aria-expanded="true" aria-controls="collapseItemOpenOne">
         Social Media
        </a>
      </h4>
    </div>
    <div id="collapseItemOpenOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <form action=" " class="row g-4" #Social (ngSubmit)="onClickSubmit(Social)" >
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Topic</label>
                <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Fill Field">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1"   rows="3"></textarea>
              </div>
               <div class="mb-3">
                <label for="formFileMultiple" class="form-label">select Image</label>
                <input class="form-control" type="file" id="formFileMultiple"  multiple>
              </div>
              <button type="submit" class="btn btn-primary w-25 mx-auto px-4  mt-4">login</button>
             
            </form>
      </div>
    </div>
  </div>
</div> -->
</div>
<hr>


















</div>
</section>