
<section id="info-utile" class="">
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Social Media
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4" #AboutUs (ngSubmit)="onClickSubmit(AboutUs)" >
                        <div class="my-1 d-flex">
                            <label for="exampleFormControlInput1" class="form-label">Facebook <i class="icon tagr-social-facebook"></i> : </label>
                            <div class="formg">
                                <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Fill Field">
                            </div>
                          </div>
                          <div class="my-1 d-flex">
                            <label for="exampleFormControlInput1" class="form-label">Linkedin <i class="icon tagr-social-linkedin"></i> : </label>
                            <div class="formg">
                                <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Fill Field">
                            </div>
                          </div>
                          <div class="my-1 d-flex">
                            <label for="exampleFormControlInput1" class="form-label">Twitter <i class="icon tagr-social-twitter"></i> : </label>
                            <div class="formg">
                                <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Fill Field">
                            </div>
                          </div>
                          <div class="my-1 d-flex">
                            <label for="exampleFormControlInput1" class="form-label"> Google Plus <i class="icon tagr-social-google-plus"></i> : </label>
                            <div class="formg">
                                <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Fill Field">
                                <button type="submit" class="btn btn-small btn-primary w-25 float-end  px-4  mt-2">login</button>
                            </div>
                          </div>
                          
                         
                        </form>
                   
                </div>
                </div>
            </div>
</div>
<hr>


















</div>
</section>