
<section id="info-utile" class="">
    <div class="container">
        <h3 class="text-center text-uppercase mb-5 lead-h-text text-gray">Ubout US</h3>
        
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  AboutUs
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4" #AboutUs (ngSubmit)="onClickSubmit()" >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Topic</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"  placeholder="Fill Field">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1"   rows="3"></textarea>
                          </div>
                           <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">select Image</label>
                            <input class="form-control" type="file" id="formFileMultiple"  multiple>
                          </div>
                          <button type="submit" class="btn btn-primary w-25 mx-auto px-4  mt-4">login</button>
                         
                        </form>
                   
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    CEO Word
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                
                      <form action="" class="row g-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Topic</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fill Field">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                        
                          <button type="submit" class="btn btn-primary w-25 mx-auto px-4 f mt-4">login</button>
                         
                        </form>

                     
                </div>
                </div>
            </div>
            <!-- third form -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Our Vision
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Topic</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fill Field">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                           <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">select Image</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                          <button type="submit" class="btn btn-primary w-25 mx-auto px-4 f mt-4">login</button>
                         
                        </form>
                  </div>
                </div>
            </div>
              <!-- /third form -->
               <!-- 4form -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingfour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                  Our Mission
                </button>
                </h2>
                <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Topic</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fill Field">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                           <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">select Image</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                          <button type="submit" class="btn btn-primary w-25 mx-auto px-4 f mt-4">login</button>
                         
                        </form>
                  </div>
                </div>
            </div>
              <!-- /4 form -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingfifth">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefifth" aria-expanded="false" aria-controls="collapseThree">
                  Our Goals
                </button>
                </h2>
                <div id="collapsefifth" class="accordion-collapse collapse" aria-labelledby="headingfifth" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Topic</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fill Field">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                           <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">select Image</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                          <button type="submit" class="btn btn-primary w-25 mx-auto px-4 f mt-4">login</button>
                         
                        </form>
                  </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingsix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapseThree">
                  Our Design
                </button>
                </h2>
                <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Topic</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fill Field">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                           <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">select Image</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                          <button type="submit" class="btn btn-primary w-25 mx-auto px-4 f mt-4">login</button>
                         
                        </form>
                  </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingseven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseThree">
                    About Our Meetings
                </button>
                </h2>
                <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Topic</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fill Field">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                           <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">select Image</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                          <button type="submit" class="btn btn-primary w-25 mx-auto px-4 f mt-4">login</button>
                         
                        </form>
                  </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingeight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseThree">
                    Fashionable Designs
                </button>
                </h2>
                <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form action="" class="row g-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Topic</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fill Field">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                           <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">select Image</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                          <button type="submit" class="btn btn-primary w-25 mx-auto px-4 f mt-4">login</button>
                         
                        </form>
                  </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingnine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                    About SAQEEFAH
                </button>
                </h2>
                <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Topic</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fill Field">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary w-25 mx-auto px-4 f mt-4">login</button>
                          <!-- <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">select Image</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div> -->
                        </form>
                  </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingnine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                   Our Office
                </button>
                </h2>
                <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Topic</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fill Field">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary w-25 mx-auto px-4 f mt-4">login</button>
                          <!-- <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">select Image</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div> -->
                        </form>
                  </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingnine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                    About SAQEEFAH
                </button>
                </h2>
                <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form action="" class="row g-4">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Topic</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fill Field">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary w-25 mx-auto px-4 f mt-4">login</button>
                      <!-- <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">select Image</label>
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                      </div> -->
                    </form>
                  </div>
                </div>
            </div>
        </div>

    </div>
</section>